[Unit]
Description=Alert Manager
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=prometheus
Group=prometheus
ExecStart=~/alertmanager-0.24.0.linux-amd64/alertmanager \
  --config.file=/~/alertmanager-0.24.0.linux-amd64/alertmanager.yml \
  --storage.path=/var/lib/alertmanager

Restart=always

[Install]
WantedBy=multi-user.target